In [70]:
import pandas as pd
from sklearn.model_selection import train_test_split
import os

In [55]:
df = pd.read_csv('final.csv')

##### Create ~10 different versions of the dataset

Random sample of 5k players, 
training, validation, test 60%,10%,30%
Include all non-P HOF

Filter - only players who played more than 500 games
10 datasets, 1k, all HOF + random set of non-HOF players

In [56]:
df.columns

Index(['playerID', 'num_seasons', 'G', 'AB', 'Runs', 'Hits', 'Doubles',
       'Triples', 'HR', 'RBI', 'SB', 'BB', 'SO', 'nameFirst', 'nameLast',
       'weight', 'height', 'bats', 'throws', 'pos', 'category', 'inducted',
       'AVG', 'OBP', 'SLG'],
      dtype='object')

In [57]:
hof_only = df[df['inducted'] == 'Y']
no_hof = df[df['inducted'] == 'N']

In [58]:
games_500 = df[df['G'] >= 500]
g500_hof_only = games_500[games_500['inducted'] == 'Y']
g500_no_hof = games_500[games_500['inducted'] == 'N']

In [59]:
games_500

,playerID,num_seasons,G,AB,Runs,Hits,Doubles,Triples,HR,RBI,...,weight,height,bats,throws,pos,category,inducted,AVG,OBP,SLG
0,aaronha01,22,3298,12364,2174,3771,624,98,755,2297.0,...,180.0,72.0,R,R,OF,Player,Y,0.304998,0.375781,0.554513
4,abbated01,13,855,3044,355,772,99,43,11,324.0,...,170.0,71.0,R,R,2B,N,N,0.253614,0.318332,0.325230
8,abbotku01,8,702,2044,273,523,109,23,62,242.0,...,180.0,71.0,R,R,SS,N,N,0.255871,0.301332,0.422701
14,abramca01,7,567,1611,257,433,64,19,32,138.0,...,185.0,72.0,L,L,OF,N,N,0.268777,0.384856,0.391682
15,abreubo01,18,2425,8480,1453,2470,574,59,288,1363.0,...,220.0,72.0,L,R,OF,N,N,0.291274,0.396344,0.474764
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9193,zimmehe01,12,1456,5304,695,1566,275,105,58,796.0,...,176.0,71.0,R,R,3B,N,N,0.295249,0.326001,0.419495
9196,zimmery01,13,1637,6228,916,1740,392,22,264,988.0,...,215.0,75.0,R,R,3B,N,N,0.279383,0.343956,0.476557
9200,ziskri01,12,1453,5144,681,1477,245,26,207,792.0,...,200.0,73.0,R,R,OF,N,N,0.287131,0.354060,0.465591
9202,zobribe01,12,1604,5730,860,1527,344,44,166,751.0,...,210.0,75.0,B,R,2B,N,N,0.266492,0.357241,0.428796
9207,zuninmi01,5,587,1885,206,391,86,2,95,241.0,...,220.0,74.0,R,R,C,N,N,0.207427,0.261493,0.406366

In [60]:
# hof_only 160 rows

In [67]:
# Goal Train: 60%, Valid: 10%, Test: 30%

In [89]:
ten_k_sample = []
for i in range(0,10):
    s_1 = no_hof.sample(n = 4840, random_state = i)
    f_1 = pd.concat([s_1,hof_only])
    y = f_1.inducted
    x = f_1.drop('inducted',axis=1)
    x_train, x_test, y_train, y_test = sk.model_selection.train_test_split(x, y,test_size=0.4)
    x_test, x_valid, y_test, y_valid = sk.model_selection.train_test_split(x_test, y_test,test_size=0.25)
    print(x_train.shape,x_test.shape,x_valid.shape)
    print(y_train.shape,y_test.shape,y_valid.shape)
    name = "ten_k_" + str(i)
    os.mkdir(name)
    x_train.to_csv(name+"/x_train.csv",header=True)
    x_test.to_csv(name+"/x_test.csv",header=True)
    x_valid.to_csv(name+"/x_valid.csv",header=True)
    y_train.to_csv(name+"/y_train.csv",header=True)
    y_test.to_csv(name+"/y_test.csv",header=True)
    y_valid.to_csv(name+"/y_valid.csv",header=True)

(3000, 24) (1500, 24) (500, 24)
(3000,) (1500,) (500,)
(3000, 24) (1500, 24) (500, 24)
(3000,) (1500,) (500,)
(3000, 24) (1500, 24) (500, 24)
(3000,) (1500,) (500,)
(3000, 24) (1500, 24) (500, 24)
(3000,) (1500,) (500,)
(3000, 24) (1500, 24) (500, 24)
(3000,) (1500,) (500,)
(3000, 24) (1500, 24) (500, 24)
(3000,) (1500,) (500,)
(3000, 24) (1500, 24) (500, 24)
(3000,) (1500,) (500,)
(3000, 24) (1500, 24) (500, 24)
(3000,) (1500,) (500,)
(3000, 24) (1500, 24) (500, 24)
(3000,) (1500,) (500,)
(3000, 24) (1500, 24) (500, 24)
(3000,) (1500,) (500,)

In [90]:
for i in range(0,10):
    s_1 = g500_no_hof.sample(n = 841, random_state = i)
    f_1 = pd.concat([s_1,g500_hof_only])
    y = f_1.inducted
    x = f_1.drop('inducted',axis=1)
    x_train, x_test, y_train, y_test = sk.model_selection.train_test_split(x, y,test_size=0.4)
    x_test, x_valid, y_test, y_valid = sk.model_selection.train_test_split(x_test, y_test,test_size=0.25)
    print(x_train.shape,x_test.shape,x_valid.shape)
    print(y_train.shape,y_test.shape,y_valid.shape)
    name = "one_k_" + str(i)
    os.mkdir(name)
    x_train.to_csv(name+"/x_train.csv",header=True)
    x_test.to_csv(name+"/x_test.csv",header=True)
    x_valid.to_csv(name+"/x_valid.csv",header=True)
    y_train.to_csv(name+"/y_train.csv",header=True)
    y_test.to_csv(name+"/y_test.csv",header=True)
    y_valid.to_csv(name+"/y_valid.csv",header=True)

(600, 24) (300, 24) (100, 24)
(600,) (300,) (100,)
(600, 24) (300, 24) (100, 24)
(600,) (300,) (100,)
(600, 24) (300, 24) (100, 24)
(600,) (300,) (100,)
(600, 24) (300, 24) (100, 24)
(600,) (300,) (100,)
(600, 24) (300, 24) (100, 24)
(600,) (300,) (100,)
(600, 24) (300, 24) (100, 24)
(600,) (300,) (100,)
(600, 24) (300, 24) (100, 24)
(600,) (300,) (100,)
(600, 24) (300, 24) (100, 24)
(600,) (300,) (100,)
(600, 24) (300, 24) (100, 24)
(600,) (300,) (100,)
(600, 24) (300, 24) (100, 24)
(600,) (300,) (100,)